/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-x: hidden; }

html {
  position: relative;
  height: 100%; }

strong {
  font-weight: 700; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

em {
  font-style: italic; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
  outline: none; }

button {
  -webkit-appearance: none; }

main {
  transition: all .4s ease-out;
  display: block;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  height: 100%; }

* {
  outline: 0;
  box-sizing: border-box; }

@font-face {
  font-family: ccb-font;
  src: url("/fonts/Frutiger.ttf"); }
@font-face {
  font-family: ccb-font;
  src: url("/fonts/Frutiger.ttf"); }
.logo {
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  z-index: 1;
  width: 40%; }

.welcome-img img {
  min-width: 100%;
  height: 100%;
  transform: translateX(-6%); }

.welcome-info {
  background-color: white;
  text-align: center; }
  .welcome-info article {
    width: 85%;
    height: 90%;
    margin: 5% auto;
    font-family: ccb-font;
    text-align: left;
    position: relative; }
    .welcome-info article h1 {
      font-size: 30px;
      font-weight: 600;
      line-height: 60px; }
    .welcome-info article p {
      margin-top: 10px;
      line-height: 24px; }
    .welcome-info article .get-qrcode {
      background-color: #DB1A21;
      color: white;
      width: 100%;
      font-family: ccb-font;
      font-size: 20px;
      line-height: 60px;
      border-radius: 16px;
      border: none;
      position: absolute;
      bottom: 0;
      z-index: 2; }
      .welcome-info article .get-qrcode:hover {
        background-color: #CC1A21; }
    .welcome-info article .bottom-menu {
      display: grid;
      grid-template-columns: 22% 22% 22% 22%;
      grid-column-gap: 4%;
      position: absolute;
      bottom: 0;
      width: 100%; }
      .welcome-info article .bottom-menu button {
        background-color: #DB1A21;
        color: white;
        font-family: ccb-font;
        font-size: 26px;
        line-height: 60px;
        border-radius: 16px;
        border: none;
        width: 100%;
        z-index: 2; }
        .welcome-info article .bottom-menu button:hover {
          background-color: #CC1A21;
          transform: scale(1.05);
          transition: transform 0.1s ease; }
      .welcome-info article .bottom-menu .active {
        background-color: #fff;
        border: #DB1A21 solid 6px;
        color: #DB1A21; }
    .welcome-info article .qrcode {
      text-align: center;
      background-color: white;
      border: solid 3px #000;
      border-radius: 18px;
      position: fixed;
      bottom: -50%;
      padding: 5%;
      width: 90%;
      z-index: 1; }
      .welcome-info article .qrcode img {
        margin: auto;
        width: 100%; }
    .welcome-info article .cover-screen {
      position: fixed;
      top: 0;
      left: 0;
      border-radius: 0;
      border: none;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5); }
    .welcome-info article .qr-up {
      bottom: 15%;
      transition: bottom 0.8s ease; }
    .welcome-info article .qr-down {
      bottom: -70%;
      transition: bottom 0.8s ease; }

.hidden {
  display: none; }

.logo-simple {
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  z-index: 1;
  width: 20%; }

.main-events {
  text-align: center;
  min-width: 100%;
  height: 35%;
  color: white;
  font-family: ccb-font; }
  .main-events img {
    height: 100%;
    min-width: 100%;
    margin: auto;
    -webkit-box-shadow: inset 14px -77px 92px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 14px -77px 92px -21px rgba(0, 0, 0, 0.75);
    box-shadow: inset 14px -77px 92px -21px rgba(0, 0, 0, 0.75); }
  .main-events .main-info {
    position: absolute;
    top: 18%;
    left: 5%;
    text-align: left; }
    .main-events .main-info h1 {
      font-size: 32px;
      line-height: 40px; }
    .main-events .main-info h2 {
      font-size: 22px;
      line-height: 30px; }
    .main-events .main-info p {
      font-size: 18px;
      line-height: 24px; }
      .main-events .main-info p span:nth-last-of-type(n+2):after {
        content: " | "; }
    .main-events .main-info a {
      text-decoration: underline;
      font-style: italic;
      font-size: 18px;
      line-height: 28px; }

.content .content-section {
  height: 240px;
  font-family: ccb-font;
  padding: 20px 5%; }
  .content .content-section h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px; }
  .content .content-section .event-card {
    background: url("/images/jogodedamas.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 155% auto;
    width: 80%;
    height: 200px;
    border-radius: 20px;
    color: white;
    padding: 120px 10px 10px 10px; }
    .content .content-section .event-card .event-card-title {
      font-size: 30px; }
    .content .content-section .event-card p {
      font-size: 18px;
      line-height: 32px; }

@font-face {
  font-family: ccb-font;
  src: url("/fonts/Frutiger.ttf"); }
.page-container {
  height: 100%;
  width: 100%;
  background: url("https://divisare-res.cloudinary.com/images/c_limit,f_auto,h_2000,q_auto,w_3000/v1538263469/u9sispcbfy0irjg1wmbe/gregotti-associati-giovanni-amato-centro-cultural-de-belem.jpg") no-repeat;
  background-size: 100% auto; }
  .page-container .negative {
    filter: invert(1);
    width: 100%;
    margin: 0;
    -webkit-mask-image: url("/images/mask.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100px;
    mask-image: url("/images/mask.png");
    mask-repeat: no-repeat;
    mask-size: 100px;
    pointer-events: none; }
  .page-container .easter-egg {
    position: absolute;
    top: 200px;
    left: 500px;
    -webkit-mask-image: url("/images/mask.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100px;
    mask-image: url("/images/mask.png");
    mask-repeat: no-repeat;
    mask-size: 100px; }
  .page-container .cta {
    background-color: #DB1A21;
    font-size: 0;
    vertical-align: top;
    position: absolute;
    bottom: 10%;
    right: 5%;
    border-radius: 8px;
    -webkit-box-shadow: 6px 7px 25px 0px rgba(0, 0, 0, 0.91);
    -moz-box-shadow: 6px 7px 25px 0px rgba(0, 0, 0, 0.91);
    box-shadow: 6px 7px 25px 0px rgba(0, 0, 0, 0.91);
    z-index: 1; }
    .page-container .cta:hover ~ .negative {
      opacity: 0;
      transition: 0.3s; }
    .page-container .cta p {
      font-size: 20px;
      font-family: 'Roboto';
      margin: 20px 20px 0 20px;
      color: white; }
    .page-container .cta #contact {
      width: 450px;
      margin: 20px 10px 20px 20px;
      border: none;
      padding: 0 10px; }
    .page-container .cta button {
      width: 80px;
      margin: 20px 20px 20px 10px;
      background-color: white;
      border: none; }
      .page-container .cta button svg {
        color: #DB1A21; }
    .page-container .cta *:not(p) {
      border-radius: 4px;
      -webkit-box-shadow: 6px 7px 25px -5px rgba(0, 0, 0, 0.91), inset 6px 7px 25px -30px rgba(0, 0, 0, 0.91);
      -moz-box-shadow: 6px 7px 25px -5px rgba(0, 0, 0, 0.91), inset 6px 7px 25px -30px rgba(0, 0, 0, 0.91);
      box-shadow: 6px 7px 25px -5px rgba(0, 0, 0, 0.91), inset 6px 7px 25px -30px rgba(0, 0, 0, 0.91);
      font-size: 16px;
      line-height: 30px;
      display: inline-block;
      font-family: 'Roboto'; }
      .page-container .cta *:not(p):active {
        transition: 0.1s;
        -webkit-box-shadow: 6px 7px 25px -14px rgba(0, 0, 0, 0.91), inset 6px 7px 25px -30px rgba(0, 0, 0, 0.91);
        -moz-box-shadow: 6px 7px 25px -14px rgba(0, 0, 0, 0.91), inset 6px 7px 25px -30px rgba(0, 0, 0, 0.91);
        box-shadow: 6px 7px 25px -14px rgba(0, 0, 0, 0.91), inset 6px 7px 25px -30px rgba(0, 0, 0, 0.91); }
  .page-container .countdown {
    position: absolute;
    bottom: 26%;
    right: 5%;
    color: black;
    font-family: 'Roboto';
    font-size: 0;
    font-weight: 700;
    vertical-align: top; }
    .page-container .countdown .time-measure {
      display: inline-block;
      text-align: center;
      margin: 10px -6px;
      -webkit-box-shadow: 3px 8px 31px 2px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 3px 8px 31px 2px rgba(0, 0, 0, 0.53);
      box-shadow: 3px 8px 31px 2px rgba(0, 0, 0, 0.53); }
      .page-container .countdown .time-measure div {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.6);
        font-size: 120px; }
        .page-container .countdown .time-measure div:first-of-type {
          padding: 10px;
          padding-bottom: 0; }
        .page-container .countdown .time-measure div:last-of-type {
          display: block;
          font-size: 24px;
          text-transform: uppercase;
          border: none;
          line-height: 24px;
          padding-bottom: 6px; }
      .page-container .countdown .time-measure:nth-of-type(odd) {
        transform: translateY(-100px); }
      .page-container .countdown .time-measure:first-of-type {
        transform: translateY(-120px); }
      .page-container .countdown .time-measure:nth-of-type(2) {
        transform: translateY(-40px); }
    .page-container .countdown span {
      font-size: 50px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
  .page-container .main-title {
    position: absolute;
    top: 46%;
    left: 5%;
    font-family: 'Roboto';
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    -webkit-box-shadow: 3px 8px 31px 2px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 3px 8px 31px 2px rgba(0, 0, 0, 0.53);
    box-shadow: 3px 8px 31px 2px rgba(0, 0, 0, 0.53); }
    .page-container .main-title h1 {
      font-size: 100px;
      text-transform: uppercase; }
    .page-container .main-title p {
      font-size: 30px; }
  .page-container .nav-title {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 600; }
  .page-container .social-media {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 34px;
    line-height: 50px; }
    .page-container .social-media a {
      text-decoration: none;
      color: black;
      margin: 0 5px; }
      .page-container .social-media a svg {
        margin: 0 6px; }
        .page-container .social-media a svg:hover {
          transform: scale(1.1);
          transition: 0.1s; }
    .page-container .social-media:hover ~ .negative {
      opacity: 0;
      transition: 0.1s; }
  .page-container .embassadors {
    position: absolute;
    left: 5%;
    bottom: 10%; }
    .page-container .embassadors div {
      text-align: center;
      display: inline-block;
      margin: 0 24px; }
      .page-container .embassadors div img {
        width: 150px;
        border-radius: 50%;
        transform: translateY(30px); }
      .page-container .embassadors div p {
        color: white;
        font-family: 'Roboto';
        font-size: 34px;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5); }
        .page-container .embassadors div p:first-of-type {
          transform: translateX(-20px); }
        .page-container .embassadors div p:last-of-type {
          transform: translateX(20px); }

.bottom {
  text-align: center; }
  .bottom .bottom-menu5 {
    background-color: #DB1A21;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
    margin: auto;
    line-height: 100%; }
    .bottom .bottom-menu5 button {
      background-color: transparent;
      border: none;
      border-radius: 10px;
      width: 12%;
      height: 70%;
      color: white;
      font-family: ccb-font;
      font-size: 26px;
      line-height: 100%;
      transform: translateY(-16%); }
      .bottom .bottom-menu5 button:hover {
        background-color: #CC1A21;
        transform: scale(1.05) translateY(-16%); }
      .bottom .bottom-menu5 button:nth-of-type(3) {
        background-color: #376787;
        border: #fff solid 5px;
        border-radius: 50%;
        transform: translateY(-35%);
        width: 80px;
        height: 80px;
        margin: 0 2%;
        font-size: 30px; }
      .bottom .bottom-menu5 button:nth-of-type(-n + 2) {
        margin: 0 2%; }
      .bottom .bottom-menu5 button:nth-of-type(n + 4) {
        margin: 0 2%; }
    .bottom .bottom-menu5 .active {
      background-color: #fff;
      color: #DB1A21;
      transform: scale(1.05) translateY(-16%); }
      .bottom .bottom-menu5 .active:hover {
        background-color: #fff; }

body {
  cursor: none; }

.pointer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.05s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-sizing: border-box;
  z-index: 4; }

.logo-simple:hover ~ .pointer {
  width: 100px;
  height: 100px;
  background-color: blue; }

/*# sourceMappingURL=main.css.map */
