@import '_config';

.page-container {
    height: 100%;
    width: 100%;
    background: url('https://divisare-res.cloudinary.com/images/c_limit,f_auto,h_2000,q_auto,w_3000/v1538263469/u9sispcbfy0irjg1wmbe/gregotti-associati-giovanni-amato-centro-cultural-de-belem.jpg') no-repeat;
    background-size: 100% auto;

    .negative {
        filter:invert(1);
        width: 100%;
        margin: 0;
        -webkit-mask-image: url('/images/mask.png');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100px;
        mask-image: url('/images/mask.png');
        mask-repeat: no-repeat;
        mask-size: 100px;
        pointer-events: none;
    }
    .easter-egg {
        position:absolute;
        top:200px;
        left:500px;
        -webkit-mask-image: url('/images/mask.png');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100px;
        mask-image: url('/images/mask.png');
        mask-repeat: no-repeat;
        mask-size: 100px;
    }
    .cta {
        background-color:$ccb-color;
        font-size:0;
        vertical-align: top;
        position:absolute;
        bottom:10%;
        right:5%;
        border-radius:8px;
        -webkit-box-shadow: 6px 7px 25px 0px rgba(0,0,0,0.91);
        -moz-box-shadow: 6px 7px 25px 0px rgba(0,0,0,0.91);
        box-shadow: 6px 7px 25px 0px rgba(0,0,0,0.91);
        z-index:1;

        &:hover ~ .negative {
            opacity: 0;
            transition: 0.3s;
        }
        p {
            font-size:20px;
            font-family: 'Roboto';
            margin:20px 20px 0 20px;
            color:white;
        }
        #contact {
            width:450px;
            margin:20px 10px 20px 20px;
            border:none;
            padding:0 10px;
        }
        button {
            width:80px;
            margin:20px 20px 20px 10px;
            background-color: white;
            border:none;

            svg {
                color:$ccb-color;
            }
        }
        *:not(p) {
            border-radius:4px;
            -webkit-box-shadow: 6px 7px 25px -5px rgba(0,0,0,0.91),
                                inset 6px 7px 25px -30px rgba(0,0,0,0.91);
            -moz-box-shadow: 6px 7px 25px -5px rgba(0,0,0,0.91),
                            inset 6px 7px 25px -30px rgba(0,0,0,0.91);
            box-shadow: 6px 7px 25px -5px rgba(0,0,0,0.91),
                        inset 6px 7px 25px -30px rgba(0,0,0,0.91);
            font-size:16px;
            line-height:30px;
            display: inline-block;
            font-family: 'Roboto';

            &:active {
                transition:0.1s;
                -webkit-box-shadow: 6px 7px 25px -14px rgba(0,0,0,0.91),
                                    inset 6px 7px 25px -30px rgba(0,0,0,0.91);
                -moz-box-shadow: 6px 7px 25px -14px rgba(0,0,0,0.91),
                                inset 6px 7px 25px -30px rgba(0,0,0,0.91);
                box-shadow: 6px 7px 25px -14px rgba(0,0,0,0.91),
                            inset 6px 7px 25px -30px rgba(0,0,0,0.91);
            }

        }
    }
    .countdown {
        position:absolute;
        bottom:26%;
        right:5%;
        color:black;
        font-family: 'Roboto';
        font-size:0;
        font-weight:700;
        vertical-align: top;
        .time-measure {
            display:inline-block;
            text-align:center;
            margin:10px -6px;
            -webkit-box-shadow: 3px 8px 31px 2px rgba(0,0,0,0.53);
            -moz-box-shadow: 3px 8px 31px 2px rgba(0,0,0,0.53);
            box-shadow: 3px 8px 31px 2px rgba(0,0,0,0.53);

            div {
                display:inline-block;
                background-color:rgba(255,255,255,0.6);
                font-size: 120px;

                &:first-of-type {
                    padding:10px;
                    padding-bottom:0;
                }
                &:last-of-type {
                    display:block;
                    font-size: 24px;
                    text-transform: uppercase;
                    border:none;
                    line-height:24px;
                    padding-bottom:6px;
                }
            }
            &:nth-of-type(odd) {
                transform:translateY(-100px);
            }
            &:first-of-type {
                transform:translateY(-120px);
            }
            &:nth-of-type(2) {
                transform:translateY(-40px);
            }
        }
        span {
            font-size:50px;
            position:absolute;
            top:50%;
            transform:translate(-50%,-50%);
        }
    }

    .main-title {
        position:absolute;
        top:46%;
        left:5%;
        font-family:'Roboto';
        background-color:rgba(255,255,255,0.6);
        padding:20px;
        -webkit-box-shadow: 3px 8px 31px 2px rgba(0,0,0,0.53);
        -moz-box-shadow: 3px 8px 31px 2px rgba(0,0,0,0.53);
        box-shadow: 3px 8px 31px 2px rgba(0,0,0,0.53);
    
        h1 {
            font-size:100px;
            text-transform:uppercase;
        }
        p {
            font-size:30px;
        }
    }
    
    .nav-title {
        position:absolute;
        top:5%;
        left:5%;
        font-size:20px;
        font-family:'Roboto';
        font-weight:600;
    }
    
    .social-media {
        position:absolute;
        top:5%;
        right:5%;
        font-size:34px;
        line-height:50px;
    
        a {
            text-decoration: none;
            color:black;
            margin:0 5px;
    
            svg {
                margin:0 6px;

                &:hover {
                    transform:scale(1.1);
                    transition:0.1s;
                }
            }
        }
        &:hover ~ .negative {
            opacity:0;
            transition:0.1s;
        }
    }
    
    .embassadors {
        position:absolute;
        left:5%;
        bottom:10%;
    
        div {
            text-align:center;
            display: inline-block;
            margin:0 24px;
    
    
            img {
                width:150px;
                border-radius:50%;
                transform:translateY(30px);
            }
            p {
                color:white;
                font-family: 'Roboto';
                font-size:34px;
                text-shadow:2px 2px rgba(0,0,0,0.5);
    
                &:first-of-type {
                    transform:translateX(-20px);
                }
                &:last-of-type {
                    transform:translateX(20px);
                }
            }
        }
    }
}