@import '_config';

.logo {
    position:fixed;
    left:50%;
    top:20px;
    transform:translateX(-50%);
    z-index:1;
    width:40%;
}

section {
    height:50%;
}

.welcome-img {


    img {
        min-width:100%;
        height:100%;
        transform: translateX(-6%);

    }
}

.welcome-info {
    background-color: white;
    text-align:center;

    article {
        width:90%;
        height:90%;
        margin:5% auto;
        font-family: ccb-font;
        text-align:left;
        position:relative;


        h1 {
            font-size: 30px;
            font-weight: 600;
            line-height:60px;
        }
        p {
            margin-top:10px;
            line-height:24px;
        }
        .get-qrcode {
            background-color:$ccb-color;
            color:white;
            width:100%;
            font-family: ccb-font;
            font-size:20px;
            line-height:60px;
            border-radius:16px;
            border:none;
            position:absolute;
            bottom:0;
            z-index:2;

            &:hover {
                background-color:#CC1A21;
            }
        }

        .bottom-menu {
            display: grid;
            grid-template-columns: 22% 22% 22% 22%;
            grid-column-gap: 4%;
            position:absolute;
            bottom:0;
            width:100%;

            button {
                background-color:$ccb-color;
                color:white;
                font-family: ccb-font;
                font-size:26px;
                line-height:60px;
                border-radius:16px;
                border:none;
                width:100%;
                z-index:2;
    
                &:hover {
                    background-color:#CC1A21;
                    transform: scale(1.05);
                    transition:transform 0.1s ease;
                }
                &:first-of-type {
                    background-color:#fff;
                    border:$ccb-color solid 6px;
                    color:$ccb-color;
                }
            }
        }
        .qrcode {
            text-align:center;
            background-color:white;
            border:solid 3px #000;
            border-radius:18px;
            position:fixed;
            bottom:-50%;
            padding:5%;
            width:90%;
            z-index:1;

            img {
                margin:auto;
                width:100%;
            }
        }
        .cover-screen {
            position:fixed;
            top:0;
            left:0;
            border-radius:0;
            border:none;
            height:100%;
            width:100%;
            background-color: rgba(0,0,0,0.5);
        }
        .qr-up {
            bottom:15%;
            transition:bottom 0.8s ease;
        }
        .qr-down {
            bottom:-50%;
            transition:bottom 0.8s ease;
        }
    }
}

.hidden {
    display:none;
}
